  @import "colors.scss";

.button-grey-tough {
  border-color: $color-grey-tough !important;
  color: $color-grey-tough !important;
}

.button-ash-burgundy {
  border-color: $color-ash-burgundy !important;
  color: $color-ash-burgundy !important;
}

.button-red-crimson {
  border-color: $color-red-crimson !important;
  color: $color-red-crimson !important;
}

.button-tomato {
  border-color: $tomato !important;
  color: $tomato !important;
}

.button-baby-powder {
  border-color: $gray !important;
  color: $gray !important;
}

.add-button {
  background: darkseagreen;
  border: darkseagreen;
}

.back-button {
  background: #ccc;
  border: #ccc;
}

.save-button {
  background: forestgreen;
  border: forestgreen;
}



