@import "colors.scss";

.add-button {
  color: forestgreen !important;
}

.cancel-button {
  background: #ccc;
  border: #ccc;
}

.close-button {
  color: #666 !important;
}

.confirm-button {
  background: #dc3c3c;
  border: #dc3c3c;
}

.save-button {
  background: forestgreen;
  border: forestgreen;
}






