  @import "colors.scss";

.add-button {
  background: darkseagreen;
  border: darkseagreen;
}

.back-button {
  background: #ccc;
  border: #ccc;
}

.save-button {
  background: forestgreen;
  border: forestgreen;
}

.cancel-button {
  background: #ccc;
  border: #ccc;
}

.confirm-button {
  background: #dc3c3c;
  border: #dc3c3c;
}


