@mixin font-small {
  font-size: 0.75rem;
  font-weight: 500;
}

@mixin font-small-medium {
  font-size: 0.875rem;
  font-weight: 500;
}
@mixin font-small-large {
  font-size: 0.9375rem;
  font-weight: 500;
}

@mixin font-medium {
  font-size: 1rem;
  font-weight: 500;
}

@mixin font-medium-bold {
  font-size: 1rem;
  font-weight: 600;
}

@mixin font-large {
  font-size: 1.125rem;
  font-weight: 500;
}

@mixin font-extra-large {
  font-size: 1.25rem;
  font-weight: 500;
}

@mixin header-medium {
  font-size: 1.25rem;
  font-weight: 600;
}

@mixin zero-seven-hundred-fifty {
  font-size: 0.875rem;
}

@mixin zero-eight-hundred-seventy-five {
  font-size: 0.875rem;
}

@mixin zero-nine-hundred {
  font-size: 0.9rem;
}

@mixin header-one-and-quarter {
  font-size: 1.25rem;
}

@mixin header-large {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ddd;
}