@import "@/assets/variables.scss";

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  .p-toast-message-icon {
    display: none;
  }

  .p-toast-message-text {
    margin-left: $px-5 !important;
  }
}

//p {
//  margin: 0;
//  padding: 8px 0;
//}

#app {
  // Add something here when it's needed.
}


