// The purpose of the file is to redefine PrimeVue library rules;
@import "colors.scss";
@import "@/assets/fonts";

.p-treenode-content.p-highlight {
  background: none !important;
}

.p-datatable thead {
  @include zero-eight-hundred-seventy-five;
}

.p-datatable tbody {
  @include zero-nine-hundred;
}

// Remove light blue frame around all focused elements.
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

$primary-color: #000;