// App.
$app-container-width: 520px;

// Spaces.
$px-2: 2px;
$px-4: 4px;
$px-5: 5px;
$px-10: 10px;
$px-15: 15px;
$px-20: 20px;
$px-30: 30px;
$px-40: 40px;
$px-50: 50px;
$px-60: 60px;

// Space aliases.
$space-after-title: $px-30;

// Border radii.
$border-radius-px-2: 2px;
$border-radius-px-4: 4px;
$border-radius: $border-radius-px-4; // TODO Get rid.
$border-radius-ten: 10px;

// Dialogs.
$basic-dialog-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$schedule-dialog-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

// z-indexes.
$z-index-basic-dialog: 10000;

// TODO ??
$tile-width: 200px;
$tile-height: 100px;
$tile-aspect-ratio: 1.8;

$header-height: 80px;
$main-page-buttons-width: 200px;



