$space-s: 10px;
$space-m: 20px;

$tile-width: 200px;
$tile-height: 100px;

$plus-tile-background: #451e3e;
$tile-aspect-ratio: 2;

$color-white: #fff;

$palette-lost-songs-1: #051e3e;

$palette-never-doubt-5: #29a8ab;