$app-container-width: 520px;

$space-tiny: 5px;
$space-small: 10px;
$space-medium: 20px;
$space-large: 30px;

$border-radius: 7px;

$tile-width: 200px;
$tile-height: 100px;
$tile-aspect-ratio: 1.8;

$basic-dialog-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


